<!DOCTYPE html>
<html>
<head>
  <title>GALLERY.IO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/navbar' %>

  <section>
    <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
      <%= yield %>
    </div><!-- /.container -->
  </section>

  <footer>
    <p>Copyright &copy; 2016 Gallery</p>
  </footer>
</body>
</html>
